<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>审批历史</title>
<meta charset="utf-8">
<script src="../../js/importJs.js"></script>

<script type="text/javascript">

var taskId=dialogConf.taskId;
var myApp = angular.module("myApp", ['base','mobileDirective']);
myApp.controller("taskImageCtrl",['$scope','baseService','$sce', function($scope,baseService,$sce) {
	if(!taskId){
		return '';
	}
	$scope.imageUrl = getContext().bpmRunTime+"/runtime/instance/v1/getBpmImage?defId=&bpmnInstId=&taskId="+taskId+"&proInstId=";
	
	$scope.getImageBase64 = function(){
		if($scope.imageBase64){
			return $scope.imageBase64;
		}
		var imageBase64 = '';
		$.ajax({
			url:$scope.imageUrl,
			type:'GET',
			dataType:'text',
			async:false,
			headers: {
		        Authorization: HtUtil.getLocalAuth()
		    },
			success:function(data){
				imageBase64 = data;
				$scope.imageBase64 = data;
			}
		})
		return imageBase64;
	}

	var url = "${bpmRunTime}/runtime/task/v1/taskImage?taskId="+taskId;
	baseService.get(url).then(function(rep){
		$scope.bpmDefLayout = rep.bpmDefLayout;
		$scope.instId = rep.instId;
		$scope.parentInstId = rep.parentInstId;
	});
	
	$scope.closeDialog =function(){
    	dialogConf.closeDialog();
	}
	
/* 	//显示指定流程实例的轨迹图
	$scope.showFlowMap = function(instId,nodeId,nodeType,type) {
		var title=type=="subFlow"?$filter('translate')('view_subprocess'):$filter('translate')('view_main_process');
		dialogService.page("flow-image", {area: ['950px', '600px'],btn:[],pageParam:{instId:instId,nodeId:nodeId,nodeType:nodeType,type:type}});
	} */
}]);


</script>
</head>
<body class="b-gray page" ng-controller="taskImageCtrl" style="overflow: auto">
	<div class="popHeader">
		<span class="poptitle">流程图</span>
		<span class="poptitle_close" ng-click="closeDialog()"></span>
	</div>
	<div class="container-fluid" style="_height:380px;min-height:380px;padding-top: 40px">
		<div class="row" style="margin: 10px 0 20px 10px;overflow: auto">
			<div class="target">
				<div class="icon" style="background: #FF0000;  "></div>
				<span>{{'processMatters_pending' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #F89800;"></div>
				<span>{{'processMatters_submit' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #FFE76E;"></div>
				<span>{{'processMatters_resubmit' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #00FF00;"></div>
				<span>{{'processMatters_agreed_to' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #C33A1F;"></div>
				<span>{{'processMatters_hang' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #0000FF;"></div>
				<span>{{'processMatters_against' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #8A0902;"></div>
				<span>{{'processMatters_rejected' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #FFA500;"></div>
				<span>{{'processMatters_reject_to_the_originator' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #023B62;"></div>
				<span>{{'processMatters_undo' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #F23B62;"></div>
				<span>{{'processMatters_revoke_to_originator' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #338848;"></div>
				<span>{{'processMatters_countersigned_by' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #82B7D7;"></div>
				<span>{{'processMatters_countersign' | translate}}</span>
			</div>
			<br/>
			<div class="target">
				<div class="icon" style="background: #EEAF97;"></div>
				<span>{{'processMatters_to_abort' | translate}}</span>
			</div>
			<div class="target">
				<div class="icon" style="background: #4A4A4A;"></div>
				<span>{{'processMatters_complete' | translate}}</span>
			</div>
			<div ng-if="parentInstId!=null&&parentInstId!=0" class="target">
				<a style="cursor:pointer;" href="javascript:void(0);" ng-click="showFlowMap(parentInstId)"><i class='fa fa-map'></i>查看主流程图</a>
			</div>
		</div>
		<div class="row" style="margin: 10px;overflow: auto">
	 		<div id="taskImage" style="width:{{bpmDefLayout.width}}px;height:{{bpmDefLayout.height}}px;background: url({{getImageBase64()}}) no-repeat;">
				<div ng-if="layout.nodeType == 'CALLACTIVITY'" ng-repeat="layout in bpmDefLayout.listLayout" class="flowNode"  ng-click="showFlowMap(instId,layout.nodeId,layout.nodeType,'subFlow')"  ht-bpm-image="{instId:instId,nodeId:layout.nodeId,nodeType:layout.nodeType}" style="position:absolute;left:{{layout.x}}px;top:{{layout.y}}px;width:{{layout.width}}px;height:{{layout.height}}px;"></div>
				<div ng-if="layout.nodeType != 'CALLACTIVITY'" ng-repeat="layout in bpmDefLayout.listLayout" class="flowNode" ht-bpm-image="{instId:instId,nodeId:layout.nodeId,nodeType:layout.nodeType}" style="position:absolute;left:{{layout.x}}px;top:{{layout.y}}px;width:{{layout.width}}px;height:{{layout.height}}px;"></div>
			</div> 
		</div> 
	</div>
	<style type="text/css">
	div.icon {
		border: 1px solid #868686;
		line-height: 10px;
		width: 10px;
		height: 10px;
		float: left;
		overflow: hidden;
		margin-top: 3px;
	}
	
	.target span {
		margin: 0 10px 0 3px;
		font-size: 12px;
		font-weight: bold;
		float: left;
		vertical-align: middle;
		white-space: nowrap;
	}
	div.qtip{
		min-width:280px;
	}
	#taskImage{
		margin:10px;
		min-height:100px;
		position:relative;
	}
	</style>
</body>
</html>
